@tailwind base;
@tailwind components;
@tailwind utilities;

.children {
    background: #fff;
    border: 2px solid #56c995;
    border-radius: 20px;
}

.children a,
.children .separator {
    display: block;
    margin: 5px 0px;
    padding: 5px 10px;
}

.children .separator {
    border-top: 2px solid #5ae3a568;
}

.children a:hover {
    color: #5768ff;
    font: bold;
}

main {
    z-index: 2;
}

nav {
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .children {
        position: absolute;
        width: 155px;
        top: 70px;
    }
}